captainVersion: 4
services:
    $$cap_appname:
        image: prom/alertmanager:$$cap_alertmanager_version
        volumes:
            - $$cap_appname-data:/alertmanager
        restart: always
        caproverExtra:
            containerHttpPort: 9093
caproverOneClickApp:
    variables:
        - id: $$cap_alertmanager_version
          label: Alertmanager Version
          defaultValue: v0.26.0
          description: Check out their Docker page for the valid tags https://hub.docker.com/r/prom/alertmanager/tags
          validRegex: /.{1,}/
    instructions:
        start: Deploying Prometheus Alertmanager for alert handling.
        end: Alertmanager has been deployed! Visit http://$$cap_appname.$$cap_root_domain to configure alert routing.
    displayName: Alertmanager
    isOfficial: false
    description: Prometheus alert manager. Handles alerts from Prometheus, deduplicates, groups, and routes them to receivers.
